<!DOCTYPE html>
<html  ng-app="myApp">
<head>
    <base href="/">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title>Page title goes here</title>
    <meta name="keywords" content="keywords" />
    <meta name="description" content="description" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <div>
        <nav>
            <ul>
                <li>
                    <a href="/pages">Page add edit and listing</a>
                </li>
            </ul>
        </nav>
    </div>

</header>
<main ng-controller="PageBodyCtrl">
    <div ng-if="!orm.fetch('page').length < 0">{% block body %}{% endblock %}</div>
    <div ui-view></div>
</main>
<script src="/js/main.js"></script>
</body>
</html>