<li>
    <a href="{{ page.slug }}">{{ page.title }}</a>
    {% if(page.childPages.length > 0) %}
    <ul>
        {% for page in page.childPages %}
            {% include "nav.njk" %}
        {% endfor %}
    </ul>
    {% endif %}
</li>