{% extends "layout.njk" %}
{% block body %}
<h1>{{ currentPage.title }}</h1>
<div class="stackable grid">
    {% for row in currentPage.content %}

    <div class="row">
        {% for column in row %}
        <div class="{{ column.widthClass }} rtfWrapper" >
            {% if(column.type == 'rtf' or column.type == 'dynImg' or column.type == 'html') %}
            <div>{{ column.data | safe }}</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}